/.sconsign.dblite
*.dll
*.exp
*.lib
*.obj
*.ilk
*.pdb

# Visual studio files
.vs
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
x64/

# ASIO SDK
thirdparty/asio/common
thirdparty/asio/host